:root {
  --black: #000000;
  --dark-gray: #202020;
  --medium-gray: #777777;
  --light-gray: #636262;
  --white: #ffffff;
  --aqua: aqua;
  --lime: lime;
  --magenta: magenta;
  --yellow: rgb(247, 208, 37);
  --red: rgb(241, 37, 37);
  --green: rgb(114, 235, 78);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html, body{
    height: 100%;
    width: 100%;
}

  /* scroll bar */

  ::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--medium-gray);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid var(--light-gray);
  }


.container{
    height: 100vh;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 500px)); */
    grid-template-areas: 
        "header header header"
        "dashboard occupancy studentupdate"
        "dashboard occupancy emergencybutton"
    ;
    background-color: var(--black);
    grid-template-rows:  0.1fr 1fr 0.5fr; 
    grid-template-columns: 0.3fr 1fr 0.5fr;  
    color: white;
}

.nav_container{
    background-color: var(--dark-gray);
    grid-area: header;
    padding-left: 60px;
    padding-right: 60px;
}

.nav_container nav{
    display: flex;
    justify-content: space-between;
}

.logo_section{
    grid-area: logo;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    color: aqua;
    font-size: 300px;
}

.logo_section span{
  padding-left: 10px;
  padding-top: 15px;
  font-size: 40px;
}

.choices_section{
    grid-area: choices;
    align-items: end;
    display: flex;
}

.choices_section a{
     text-decoration: none;
     color: white;
    margin-left: 100px;
    padding: 15px 20px 20px 20px;
    display: flex;   
    border-radius: 10px 10px 0px 0px;
}

.choices_section svg{
  padding-right: 5px;
}
.profile_section{
    grid-area: profile;
    margin-left: 200px;
    align-items: center;
    width: 250px;
}

.profile_section svg{
  margin-top: 20px;
  padding-left: 5px;
  margin-left: 20px;
}

.profile_section a {
  text-decoration: none;
  color: white;
}

.nav_container nav ul a{
    justify-content: space-between;
    text-decoration: none;
    color: white;

}

.nav_container img{
   height: 50px;
   padding-top: 5px;
   position: sticky;
   border-radius: 40px;
   margin-top: 10px;
}



.dashboard{
    background-color: var(--dark-gray);
    grid-area: dashboard;
    border-radius: 15px;
    margin-left: 10px;
}

.option_1 a, .option_2 a, .option_3 a, .option_4 a{
 list-style: none;
 font-style: none;
 text-decoration: none;
 color: white; 
}

.option_1, .option_2, .option_3, .option_4{
  padding-left: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
  border-color: black;
  box-shadow: 0px 0px  8px var(--dark-gray) inset;

}

.option_1:hover, .option_2:hover, .option_3:hover, .option_4:hover{
 opacity: 0.3;
 background-color: black;
 border-radius: 10px;
 align-items: center;
}

.occupancy span{
  display: flex;
  padding-top: 1px;
  padding-left: 10px;
}

.occupancy img{
  height: 200px;
  width: 200px;
  /* position: relative; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  border-radius: 100px;
  background-color: white;
}

.profile_buttons{
  margin-left: 75%;
  justify-content: space-evenly;
  margin-right: 10px;
  flex-direction: row-reverse
}

.profile_buttons button{
  background-color: aqua;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  /* margin-left: 88%; */
  /* margin-top: 1%; */
}

.occupancy_heading{
  display: flex;
  flex-direction: column;

}

.occupancy_heading p{
  position: absolute;
}

.occupancy_heading:hover{
  opacity: 0.9;
  /* background-color: black; */
  border-radius: 10px;
  /* align-items: center; */
  cursor: pointer;
  
}

.occupancy_border{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  overflow-y: auto;
  gap: 1rem;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 15px;
  border: 1px dashed;
  border-image: linear-gradient(120deg, #1d1d1d, rgb(0, 0, 0)) 10;
  box-shadow: 2px 2px 8px rgb(44, 46, 46) inset;
}

.dashboard_content{
  margin-top: 40px;
}



.occupancy{
  background-color: var(--dark-gray);
  grid-area: occupancy;
  border-radius: 15px;
  /* display: flex; */
  overflow: hidden;
  padding-left: 18px;
  padding-top: 13px;  
}

.student_update{
    /* display: flex; */
    background-color: var(--dark-gray);
    grid-area: studentupdate;
    border-radius: 15px;
    margin-right: 10px;
    /* overflow: auto; */
    overflow-y: hidden;
    padding-left: 12px;
    padding-top: 13px;
    padding-right: 15px;
}

.student_update a{
    text-decoration: none;
    color: white;
    display: inline-block;
    position: absolute;
    
}

.student_update_border{
    background-color: var(--dark-gray);
    overflow-y: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 12px; 
    display: flex;  
    flex-direction: column;
    max-height: 90%;
    border: 1px dashed;
    border-image: linear-gradient(120deg, #1d1d1d, rgb(0, 0, 0)) 10;
    box-shadow: 2px 2px 8px rgb(44, 46, 46) inset;
}

.notifications a{
    list-style: none;
    font-style: none;
    text-decoration: none;
    color: white;
 }

.notifications{
    padding-left: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

}

.notifications img{
    height: 25px;
    /* background-color: rgb(1, 27, 25); */
    border-radius: 40px;
    padding-right: 20px;
}

.notifications:hover{
   opacity: 0.3;
   background-color: black;
   border-radius: 10px;
   align-items: center;
}

.emergency_button{
  /* display: flex; */
  background-color: var(--dark-gray);
  grid-area: emergencybutton;
  border-radius: 15px;
  margin-right: 10px;
  /* overflow: auto; */
  overflow-y: hidden;
  padding-left: 12px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.emergency_button a{
  text-decoration: none;
  color: white;
  display: inline-block;
  position: absolute;
  
}

.emergency_button_border{
  background-color: var(--dark-gray);
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 12px; 
  display: flex;  
  flex-direction: column;
  max-height: 90%;
  border: 1px dashed;
  border-image: linear-gradient(120deg, #1d1d1d, rgb(0, 0, 0)) 10;
  box-shadow: 2px 2px 8px rgb(44, 46, 46) inset;
}

.profile_buttons{
  display: flex;
}

.input_box_profile{
  background-color: #353434;
  border: none;
  border-radius: 5px;
  width: 200px;
  color: white;
  margin-left: 7px;
}

button:hover{
  cursor: pointer;
}
